* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

section {
    padding: 50px;
}